#clock
NET "clk" LOC = P56;

#UART
NET "tx" LOC = P12;
NET "rx" LOC = P14;

#LEDS
NET "leds_io[3]" LOC = P95;
NET "leds_io[2]" LOC = P94;
NET "leds_io[1]" LOC = P98;
NET "leds_io[0]" LOC = P97;

#reset CPU
NET "rst_i" LOC = P16;

# SPI
NET "flash_CS" LOC = P38;
NET "sck_o" LOC = P70;
NET "mosi_o" LOC = P64;
NET "miso_i" LOC = P65;

# 7Segments indicator
NET "segments[0]" LOC = P80;
NET "segments[1]" LOC = P79;
NET "segments[2]" LOC = P83;
NET "segments[3]" LOC = P82;
NET "segments[4]" LOC = P81;
NET "segments[5]" LOC = P78;
NET "segments[6]" LOC = P84;
NET "segments[7]" LOC = P85;

NET "seg_selectors[0]" LOC = P66;
NET "seg_selectors[1]" LOC = P74;
NET "seg_selectors[2]" LOC = P67;
NET "seg_selectors[3]" LOC = P75;
